<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Тестовое задание</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
<div id="example-2" class="text-center">
    <p> Новый пользователь </p>

    <input v-model="nameUser" placeholder="Имя">
    <input v-model="loginUser" placeholder="Логин">
    <input v-model="passwordUser" placeholder="Пароль">

        <button  v-on:click="pushing">Добавить пользователя</button>

<div  class="container py-5 text-center">
<table class="table table-bordered table-dark">
    <thead>
    <tr>
        <th scope="col"><img src="public/img/sort.svg" width="25" height="25" class="float-right"  v-on:click="sortColumn='id'; sortDirection*=-1">ID</th>
        <th scope="col"><img src="public/img/sort.svg" width="25" height="25" class="float-right"  v-on:click="sortColumn='name'; sortDirection*=-1">Имя</th>
        <th scope="col"><img src="public/img/sort.svg" width="25" height="25" class="float-right"  v-on:click="sortColumn='login'; sortDirection*=-1">Логин</th>
        <th scope="col"><img src="public/img/sort.svg" width="25" height="25" class="float-right"  v-on:click="sortColumn='password'; sortDirection*=-1">Пароль</th>

    </tr>
    </thead>
    <tbody>
    <tr v-for="user in userSortList">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.login}}</td>
        <td>{{user.password}} <img src="public/img/cancel.svg" width="25" height="25"
                                    class="float-right"  v-on:click="deleting(user.login)"></td>
<!--            <a><img src="img/cancel.svg" width="25" height="25"-->
<!--                                            class="buttonToDeleteUser float-right"-->
<!--                                            data-index="<%= users[i].login%>"></a> </td>-->
    </tr>
    </tbody>
</table>
</div>
</div>
<script src="script.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>